<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgraMu - Flask Client</title>
    <!-- JavaScript for auto-refreshing the page every 5 seconds -->
    <script>
        // Set up an interval to reload the page every 5 seconds
        setInterval(function() {
            location.reload();
        }, 5000);
    </script>
</head>
<body>
    <h1>AgraMu - Flask Client</h1>
    <!-- Display the server response received from Flask app -->
    <h2>ESP8266 Server</h2>
    <p>Response: {{ server_response }}</p>
    <!-- Display real-time weather information -->
    {% if city_info %}
    <h2>Weather Information</h2>
    <h2>Location : {{ city_info }}</h2>
    {% endif %}
    {% if weather_info %}
        <p>Weather Information: {{ weather_info }}</p>
    {% else %}
        <p>Weather Information: Unable to fetch data</p>
    {% endif %}
</body>
</html>
